<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="heading-section mb-5">Nos collections</h2>
        </div>
        <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
                <div class="item">
                    <div class="work-wrap d-md-flex">
                        <div class="img order-md-last"
                            style="background-image:url(../../assets/img/P1.webp))"></div>
                        <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                            <div class="desc w-100">
                                <h2 class="mb-4">Définis <br> TON Style</h2>
                                <p class="h5">Numéro: 03 24 15 15 15</p>
                                <p class="h5 mb-4">Email Address: Contact@Team_M2i_shop.fr <a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="d0b5bdb1b9bc90b9beb6bffeb3bfbd">[email&#160;protected]</a></p>
                                <div class="row justify-content-end">
                                    <div class="col-xl-8">
                                        <p>Chez un homme le style vestimentaire va bien au-delà de simples vêtements ou
                                            de s’habiller. Les vêtements reflètent la personnalité d’un homme, que ce
                                            soit au niveau des tissus et matières .</p>
                                    </div>
                                </div>
                                <p>
                                    <button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Shop the
                                        collection</button>
                                    <button type="button" class="btn btn-dark mb-2 py-3 px-4">Learn More</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-wrap d-md-flex">
                        <div class="img order-md-last"
                            style="background-image:url(../../assets/img/P2.webp)"></div>
                        <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                            <div class="py-md-5">
                                <h2 class="mb-4">Accessoires<br> Collection</h2>
                                <p class="h5">Numéro:03 24 15 15 15 </p>
                                <p class="h5 mb-4">Email Address: Contact@Team_M2i_shop.fr <a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="8feae2eee6e3cfe6e1e9e0a1ece0e2">[email&#160;protected]</a></p>
                                <div class="row justify-content-end">
                                    <div class="col-xl-8">
                                        <p> Le style casual chic pour homme, est la définition parfaite de l’élégance
                                            quotidienne. Nul besoin d’être en costume et chemise pour faire son effet.
                                            Avec le casual chic, vous serez bien habillé sans forcer, tout en restant au
                                            naturel.</p>
                                    </div>
                                </div>
                                <p>
                                    <button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Shop the
                                        collection </button>
                                    <button type="button" class="btn btn-dark mb-2 py-3 px-4">Learn More</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="work-wrap d-md-flex">
                        <div class="img order-md-last"
                            style="background-image:url(../../assets/img/P3.webp)"></div>
                        <div class="text text-left text-lg-right p-4 px-xl-5 d-flex align-items-center">
                            <div class="py-md-5">
                                <h2 class="mb-4">Chaussures<br> Collection</h2>
                                <p class="h5">Call:03 24 15 15 15 </p>
                                <p class="h5 mb-4">Email Address: Contact@Team_M2i_shop.fr<a
                                        href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                        data-cfemail="cbaea6aaa2a78ba2a5ada4e5a8a4a6">[email&#160;protected]</a></p>
                                <div class="row justify-content-end">
                                    <div class="col-xl-8">
                                        <p>C’est le style vestimentaire pour homme le plus répandu sur Terre. Le style
                                            casual est la définition même de décontracté. Ici pas de prise de tête avec
                                            un costume ou une chemise
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    <button type="button" class="btn btn-outline-dark mb-2 py-3 px-4">Shop the
                                        collection</button>
                                    <button type="button" class="btn btn-dark mb-2 py-3 px-4">Learn More</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</section>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="js/jquery.min.js+popper.js.pagespeed.jc.6zxyjk41EK.js"></script>
<script>eval(mod_pagespeed_6LX43FTmUZ);</script>
<script>eval(mod_pagespeed_c_JRN7CWTg);</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js+main.js.pagespeed.jc.GtWQFCGS3m.js"></script>
<script>eval(mod_pagespeed_iP$iQxtJYW);</script>
<script>eval(mod_pagespeed_ReIMJHkyKC);</script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
    integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
    data-cf-beacon='{"rayId":"72cb9caa8db73b7f","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.6.0","si":100}'
    crossorigin="anonymous"></script>
</body>

</html>